POSTGRES_USER=billing
POSTGRES_PASSWORD=your_postgres_password_here
POSTGRES_MULTIPLE_DATABASES=subscription_db,payment_db
POSTGRES_URI=postgres://billing:your_postgres_password_here@postgres:5432/subscription_db?sslmode=disable
POSTGRES_URI_PAYMENT=postgres://billing:your_postgres_password_here@postgres:5432/payment_db?sslmode=disable
REDIS_ADDR=redis:6379
KAFKA_BROKERS=kafka:9092
SECRET_KEY=change_this_secret_key
SECRET_REFRESH_KEY=change_this_refresh_secret_key
ALLOWED_ORIGINS=http://localhost:5173
PAYMENT_SERVICE_ADDR=payment-service:9090
